.info-icon {
    float: left;
    color: white;
    margin-right: 0.7rem;
    margin-top: 0.2rem;
}

.nav-button {
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    margin-top: -1.5rem;
    margin-right: 1rem;
}

.single-course-position {
    padding: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.single-course-card {
    padding: 1rem;
    padding-bottom: 2rem;
}

.color-black {
    color: black;
}

.apply-button {
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.info-style{
    padding: 1rem;
    margin-top: -2rem;
}

.sub-headline{
    font-size: 1.2rem;
    float: left;
}

.padding-05{
    padding:0.5rem;
}

.info-padding{
    padding-left: 0rem; 
    padding-top: 1rem;
}

.less-info-padding{
    padding: 1rem; 
    margin-top: -2rem;
}

.less-info-card{
    padding: 1rem; 
    margin-top: 1rem;
}

.margin-bottom-2{
    margin-bottom: 2rem;
}

.subheadline{
    font-size: 1.4rem;
}

.headline-pos-long{
    z-index: 0; 
    padding-left: 4.5rem; 
    padding-bottom: 0rem;
    padding-top:1.2rem;
}

.card-height-4{
    height: 4rem;
}