<div class="container fullscreenBackground">
  <div class="circleBackground"></div>
  <div class="columns is-mobile">
    <div class="column is-12 headline-position">
      <div class="headline-style">
        Oops! Entschuldigung aber die Seite existiert nicht.
      </div>
    </div>
    <div class="columns is-mobile">
    </div>
  </div> 
  <div class="padding-1">
    <button class="button is-primary is-medium is-fullwidth" [routerLink]="['/home/kategorien']">
      Zurück zum Start
    </button>
  </div>
</div>