.box {
    border-radius: 0px;
    margin: 0px;
    padding-top: 2rem;
    //padding-right: 0rem;
    padding-bottom: 0px;
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0.2rem;
}

.circleBackground {
    height: 30rem;
    width: 30rem;
    z-index: -1;
    background-color: #209cee;
    border-radius: 15rem;
    position: absolute;
    margin-top: 6rem;
    margin-left: 7rem;
}

.active {
    background-color: hsl(204, 86%, 53%);
}

ul {
    list-style: none;
    width: 100%;
    font-size: 0;
}

li {
    display: inline-block;
    width: 25%;
    height: 5px;
}

li:nth-child(1) {
    background: hsl(204, 86%, 53%);
}

li:nth-child(2) {
    background: hsl(348, 100%, 61%);
}

li:nth-child(3) {
    background: hsl(48, 100%, 67%);
}

li:nth-child(4) {
    background: hsl(171, 100%, 41%);
}

.fullscreenBackground {
    position: absolute;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.circleBackground {
    background-color: #00d1b2 !important;
}

.login {
    background-color: hsl(204, 86%, 53%);
}

.button.is-primary[disabled] {
    color: grey;
}

.button[disabled] {
    opacity: 1 !important;
}

/* The container */
.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.15rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-top: 1rem;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}