.navOpen {
  margin-left: 24%;
}

.notification>.delete {
  position: relative;
  right: -1rem;
  top: .1rem;
  float: right;
}

.circleBackground{
  height: 30rem;
  width: 30rem;
  z-index: -1;
  background-color: #209cee;
  border-radius: 15rem;
  position: absolute;
  margin-top: -21rem;
  margin-left: -13rem;
}

.userProfil {
  color: white;
  padding-top: 3rem;
  padding-left: 0rem;
  font-size: 1.4rem;
}

.menuPoint {
  color: hsl(0, 0%, 29%);
  padding-top: 1.5rem;
  padding-left: 0rem;
  font-size: 1.4rem;
}

.signOut {
  bottom: 1rem;
  position: fixed;
}

.icon{
  padding-right: 1rem;
}

.menu-burger{
  float: right; 
  padding: 1rem; 
  color: white; 
  font-size: 1.5rem;
}

.color-blue{
  color: #209cee;
}

.color-black{
  color:black;
}

.imprint{
  font-size: 1rem;
}